name: Flutter Release Build

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Version tag (example: 1.0.0)'
        required: true
        default: '1.0.0'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "stable"
        cache: true

    - name: Install Android SDK
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip wget
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmd.zip
        unzip cmd.zip -d $ANDROID_HOME/cmdline-tools
        mv $ANDROID_HOME/cmdline-tools/cmdline-tools $ANDROID_HOME/cmdline-tools/latest
        yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses
        yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager \
            "platform-tools" \
            "platforms;android-35" \
            "build-tools;35.0.0"

    - name: Flutter Pub Get
      run: flutter pub get

    - name: Build Release APK
      run: |
        flutter build apk \
          --target-platform android-arm64 \
          --split-per-abi \
          

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: flutter-apk
        path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk

    - name: Create Git Tag
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git tag ${{ github.event.inputs.version_tag }}
        git push origin ${{ github.event.inputs.version_tag }}

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.inputs.version_tag }}
        name: Release ${{ github.event.inputs.version_tag }}
        files: |
          build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
        body: |
          ### New Flutter Release
          Version: **${{ github.event.inputs.version_tag }}**

          APK automatically built using GitHub Actions.
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
